### Attribute - function
# syntax: <attribute>: <true|false>

### Attribute - report format
# syntax: <attribute>: <true|false>
through_pin_on_report:  true
slack_on_report:        true
path_info_on_report:    true
clock_skew_on_report:   true
delta_sum_on_report:    true
path_level_on_report:   true
path_segment_on_report: true

### Define cell packages
# syntax: cpkg: <package_name> <pattern_of_ref_name>
cpkg: snps [S|P][E|V][F|M|H|G|P|N|J|Q|L]_\w+
cpkg: tsmc \w+D\d+BWP\d+T\d+P\d+\w\+

### Define cell pin names
# syntax: cpin: <package_name> <type> <pattern> <pin_names>
#   type    o - output pin
#           c - clock pin
cpin: snps c *           CK
cpin: snps o *           X Q QN SO
cpin: snps o ADD\w+      SN CON S CO 
cpin: tsmc c *           CP CPN
cpin: tsmc o *           Z ZN Q QN
cpin: tsmc o [F|H]A1D\w+ S CO

### Path classify by the regular expression
# syntax: pc: <tag> <pattern_of_instance_paths>
pc: C1 chip_top1\/.*
pc: C2 chip_top2\/.*
pc: C3 chip_top3\/.*

### Default class tag for paths excluded from all path classification  
# syntax: dpc: <tag>
dpc: TP

### Highlight cell delay
# syntax: hcd: <cell_type> <from_pin> <to_pin> <tag> 
hcd: SDIO_V I   PAD "SDIO_V po delay"
hcd: SDIO_V PAD C   "SDIO_V pi delay" 
hcd: SDIO_H I   PAD "SDIO_H po delay"
hcd: SDIO_H PAD C   "SDIO_H pi delay" 

### Bar viewer data type set
# syntax: bds: <set_name> <type1> [type2 ...]
# type:   c: cap, t: tran, d: delta, i: incr, ct: cell_type
bds: s1 c t d i
bds: s2 t d i

### Cell classify by the regular expression (for bar viewer)
# syntax: cc: <tag> <pattern_of_cell_types>
cc: BUF   SV\w_BUF_\d+
cc: CKBUF SV\w_BUF_S_\d+
cc: DFF   SV\w_FSD\w+_\d+
cc: ND2   SV\w_ND2_\d+ 

### Driving classify by pattern (for bar viewer)
# syntax1: dc: r <regular_expression_of_cell_types>      (set pattern)
# syntax2: dc: <driving_value(float)> <pattern_of_cell>  (set driving)
dc: r SV\w_\w+_(\d+)
dc: 0 0  
dc: 1 1  
dc: 2 2  
dc: 3 3  
dc: 4 4  
dc: 6 6  
dc: 8 8  

