
### Atrribute ##################################################################

#group_column_width: 40

### Path Operation #############################################################

#p:max_delay/setup:*:clk\d+_short_name\d+ u:slk<-2.0:USER1
#p:max_delay/setup:clk1:clk1_long_name2   u:slk<-3.0:USER2

### Group Operation ############################################################

#g:max_delay/setup:clk1     t::TOP1
#g:max_delay/setup:clk1     s::A
#g:max_delay/setup:clk2     m::msg1
#g:max_delay/setup:^.*$     c::IO
#g:max_delay/setup:clk1     c::R2R
#g:max_delay/setup:clk2     c::M2R
#g:max_delay/setup:^clk\d+$ r:^(clk\d+)$:\1(m1)

### Violation Operation ########################################################

#v:default go:s:wns:inc
#v:default go:l:wns:inc
#v:sequential_clock_min_period go:s:wns:inc
#v:sequential_clock_min_period go:l:wns:inc
#v:max_delay/setup gh:clk1
#v:max_delay/setup co:M2R,R2R

### Message Define #############################################################

m:msg1: It is a message.

