### attribute
#group_column_width: 40

### path operation
p:max_delay/setup:*:clk\d+_short_name\d+:l  u:slk<-2.0:USER1
p:max_delay/setup:clk1:clk1_long_name2:l    u:slk<-3.0:USER2
##p:max_delay/setup:clk1:clk1_long_name2:l d
#p:max_delay/setup:clk1:clk1_long_name2:l d:slk<-6.0
#p:max_delay/setup:*:clk.*_short_name1:l d:slk<-5.5
##p:max_delay/setup:clk1:clk1_long_name2:l d:slk<-7.0
##p:max_delay/setup::clk1_long_name2:l d
##p:max_delay/setup:clk1:clk1_long_name2:a d
##p:max_delay/setup:clk1:clk1_long_name2:a d:slk<-6.0
##p:max_delay/setup::^\w+_long_name\d+$:l d
##p:max_delay/setup:clk1:^\w+_long_name\d+$:a d

### group operation
g:max_delay/setup:clk1:l h::A
g:max_delay/setup:clk2:l m::msg1
#g:max_delay/setup:clk2:d w:wns<-2.0
#g:max_delay/setup:^.*$:r w:wns<-5.0

### define message
mtag:msg1: It is a message.
